<ul uk-scrollspy-nav="closest: li; scroll: true; offset: 30" class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon jo-a list-paddingleft-2">
<li class=""><a href="#part1">开场白</a></li>
<li class=""><a href="#part2">销售技能</a></li>
<li class=""><a href="#part3">不具情商的表现</a></li>
<li class=""><a href="#part4">电话约访</a></li>
<li class=""><a href="#part5">如何提问</a></li>
<li class=""><a href="#part6">产品介绍的方法</a></li>
<li class=""><a href="#part7">克服异议的能力</a></li>
<li class=""><a href="#part8">如何正确逼单</a></li>
<li class=""><a href="#part9">沟通接口表</a></li>
<li class=""><a href="#part10">KAVI方法</a></li>
<li class=""><a href="#part11">杜彬法则</a></li>
<li class=""><a href="#part12">沟通实战</a></li>
</ul>