<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <stl:include file="@/include/meta.html"></stl:include>
</head>

<body>
    <stl:include file="@/include/header.html"></stl:include>
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <stl:include file="@/include/loc.html"></stl:include>
            <div class="uk-background-default uk-border-rounded uk-box-shadow-small">
                <div class="uk-container">
                    <article class="uk-article">
                        <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('{content.imageurl}');">
                            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
                                <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">{content.title}</h1>
                                <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">{content.Summary}</p>
                            </div>
                        </div>
                        <div class="uk-padding-large">
                            <h1 class="uk-article-title"></h1>
                            <h1 class="uk-heading-bullet">{content.title}</h1>
                            <div class="uk-article-content">
                                <p>{content.content}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="@/include/nav.html"></stl:include>
    <stl:include file="@/include/footer.html"></stl:include>
</body>

</html>