<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <stl:include file="@/include/meta.html"></stl:include>
</head>

<body>
    <stl:include file="@/include/head-le.html"></stl:include>
    <div class="uk-section uk-section-muted">
        <div class="uk-container uk-container-small uk-position-relative">
            <div>
                <div>
                    <h1 id="sticky" class="uk-h1 tm-heading-fragment uk-text-center">《{content.title}》</h1>
                    <p class="uk-text-lead uk-text-center">————{content.subtitle}</p>
                    <p class="uk-test-muted uk-text-center">时间：<stl:content type="AddDate" formatString="yyyy年MM月dd日 HH时mm分"></stl:content> 讲师：{content.author}
                    </p>
                    <p class="uk-test-muted uk-text-center">关键字：<stl:tags><span class="uk-button uk-button-text uk-button-small">{Tag.name}</span> &nbsp;</stl:tags>
                    </p>
                    <hr class="uk-divider-icon">
                    
                    <stl:if type="VideoUrl" op="Empty">
                        <stl:no>
                            <h2 id="class" class="uk-h3 tm-heading-fragment"><a href="#class">课件</a></h2>
                            <stl:video playUrl="{content.VideoUrl}" imageUrl="{content.IMG}" width="100%" isAutoPlay="false"></stl:video>
                        </stl:no>
                    </stl:if>
                    <stl:if type="ImageUrl" op="Empty">
                        <stl:no>
                            <h2 id="photo" class="uk-h3 tm-heading-fragment"><a href="#photo">照片</a></h2>
                            <div class="uk-background-default uk-border-rounded uk-box-shadow-small">
                                <div>
                                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                                        <ul class="uk-slider-items uk-grid">
                                            <stl:each type="imageUrl">
                                                <li class="uk-width-1">
                                                    <div class="uk-panel">
                                                        <stl:image />
                                                        <div class="uk-position-center uk-text-center">
                                                            <h2 uk-slider-parallax="x: 100,-100"></h2>
                                                            <p uk-slider-parallax="x: 200,-200"></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </stl:each>
                                        </ul>
                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover jo-bg-000" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover jo-bg-000" href="#" uk-slidenav-next uk-slider-item="next"></a>
                                    </div>
                                </div>
                            </div>
                        </stl:no>
                    </stl:if>
                    <stl:if type="Content" op="Empty">
                        <stl:no>
                            <h2 id="Speech" class="uk-h3 tm-heading-fragment"><a href="#Speech">演讲稿</a></h2>
                            <div class="jo-le-co">{content.content}</div>
                        </stl:no>
                    </stl:if>
                </div>
            </div>
            <div class="tm-sidebar-right uk-visible@l">
                <div uk-sticky="offset: 160" class="uk-sticky uk-active uk-sticky-fixed" style="position: fixed; top: 160px; width: 200px;">
                    <ul uk-scrollspy-nav="closest: li; scroll: true; offset: 30" class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon jo-a">
                        <stl:if type="VideoUrl" op="Empty">
                            <stl:no>
                                <li class="uk-active"><a href="#class">课件</a></li>
                            </stl:no>
                        </stl:if>
                        <stl:if type="ImageUrl" op="Empty">
                            <stl:no>
                                <li class="uk-active"><a href="#photo">照片</a></li>
                            </stl:no>
                        </stl:if>
                        <stl:if type="Content" op="Empty">
                            <stl:no>
                                <li><a href="#Speech">演讲稿</a></li>
                                <li class="uk-nav-divider"></li>
                            </stl:no>
                        </stl:if>
                    </ul>
                    {content.nav}
                    <stl:if type="FileUrl" op="Empty">
                        <stl:no>
                            <ul uk-scrollspy-nav="closest: li; scroll: true; offset: 30" class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon jo-a">
                                <li class="uk-nav-divider"></li>
                                <li><a href="{content.FileUrl}" target="_blank"><span uk-icon="download" class="uk-margin-small-right uk-icon"></span> PPT下载</a></li>
                            </ul>
                        </stl:no>
                    </stl:if>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="@/include/nav.html"></stl:include>
    <stl:include file="@/include/footer.html"></stl:include>
</body>

</html>